html,
body {
   margin: 0%;
   text-decoration: none;
   box-sizing: border-box;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
}

.menu-wrapper {
   position: fixed;
}

// TOP NAVBAR
header {
   height: 50px;
   width: 100vw;
   background-color: #464775;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   .searchbar {
      height: auto;
      input {
         height: 34px;
         width: 350px;
         padding: 0 20px;
         color: #edebe9;
         font-size: 0.85rem;
         font-weight: 500;
         border-radius: 3px;
         border: none;
      }
   }

   .profile {
      padding: 5px 8px;
      &:hover {
         background-color: #5c5e9d;
      }

      img {
         height: 35px;
         border-radius: 1000%;
      }
   }

   .apps {
      height: 100%;
      width: 65px;
      display: flex;
      &:hover {
         background-color: #5c5e9d;
      }

      img {
         margin: auto;
         height: 24px;
      }
   }
}

// SIDE NAVBAR
.sidemenu {
   height: 100vh;
   width: 65px;
   background-color: #33344a;

   ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      .active-menu-item {
         overflow: hidden;
         background-color: #3e4681;
         background-image: linear-gradient(180deg, rgba(60, 62, 93, 0.6), rgba(60, 62, 93, 0) 33%),
            linear-gradient(225deg, rgba(60, 62, 93, 0.6) 33%, rgba(60, 62, 93, 0) 70%),
            linear-gradient(270deg, rgba(60, 62, 93, 0.6) 70%, rgba(60, 62, 93, 0) 94%),
            linear-gradient(315deg, rgba(60, 62, 93, 0.6) 33%, rgba(60, 62, 93, 0) 70%),
            linear-gradient(360deg, rgba(60, 62, 93, 0.6), rgba(60, 62, 93, 0) 33%),
            linear-gradient(90deg, rgba(98, 100, 167, 0.75) 6%, rgba(98, 100, 167, 0) 70%);
         &::before {
            background: #e2e2f6;
            content: "";
            height: 5rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 0.25rem;
         }
         a {
            color: #fff;
         }
      }

      li {
         position: relative;

         list-style-type: none;
         padding: 0;
         margin: 0;
         height: 60px;
         width: 65px;
         &:hover {
            background-color: rgba(255, 255, 255, 0.075);
         }

         a {
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: #ffffffab;
            text-decoration: none;
            font-size: 10px;
            font-weight: 500;
            justify-content: center;
            align-items: center;

            img {
               // margin: auto;
               width: 22px;
            }
         }
      }
   }
   .profile {
      padding: 5px 8px;
      &:hover {
         background-color: #5c5e9d;
      }

      img {
         height: 35px;
         border-radius: 1000%;
      }
   }
}
